.navbar {
  --bs-navbar-color: #E6EDF3;
  --bs-navbar-hover-color: #E6EDF3;
  --bs-navbar-disabled-color: #E6EDF3;
  --bs-navbar-active-color: #E6EDF3;
}

.navbar-brand {
  color: #E6EDF3;
}

.bg-body-tertiary {
  background-color: #408EC2 !important;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #F0F8FF;
}

.navbar-toggler {
  color: #14141C;
}

.navbar-nav .dropdown-menu {
  --bs-dropdown-bg: #1C1C29;
}

.dropdown-item {
  --bs-dropdown-link-color: #E6EDF3;
}

.dropdown-item:focus,
.dropdown-item:hover {
  --bs-dropdown-link-hover-color: #E6EDF3;
  --bs-dropdown-link-hover-bg: #2C2C38;
}

.navbar-toggler-icon {
  filter: invert(97%) sepia(2%) saturate(1592%) hue-rotate(178deg) brightness(97%) contrast(97%);
}

.nav-tabs .nav-link {
    color: whitesmoke;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #408EC2;
}


/********/
.card {
  text-align: center;
  transition: opacity 1s ease-out, transform 1s ease-out;
  border-color: #1C1C29;
  background-color: #1C1C29;
}

.card:hover {
  transform: scale(1.05);
  border-radius: 10px;
  border-color: #1C1C29;
}

.card-body {
  background-color: #1C1C29;
  border-color: #1C1C29;
  padding: 1.5rem;
  border-radius: 10px;
  color: #E6EDF3;
}

.card-footer {
    color: #E6EDF3;
    background-color: #1C1C29;
    border-top: var(--bs-card-border-width) solid rgb(255 255 255 / 18%);
}

.text-body-secondary {
    color: #E6EDF3 !important;
}

.offcanvas-body {
    background-color: #14141C;
}

.offcanvas-header {
  background-color: #1C1C29;
  color: #E6EDF3;
}

.btn-close {
  filter: invert(97%) sepia(2%) saturate(1592%) hue-rotate(178deg) brightness(97%) contrast(97%);
}

/**********MODALS**********/
.modal-content {
  color: #E6EDF3;
  background-color: #212529;
}

.modal-header {
  border-bottom: var(--bs-modal-header-border-width) solid #33404D;
}

.modal-footer {
  border-top: var(--bs-modal-footer-border-width) solid #33404D;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3058B4;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5A8AF7;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3058B4;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}

.modal-header .btn-close {
  filter: invert(97%) sepia(2%) saturate(1592%) hue-rotate(178deg) brightness(97%) contrast(97%);
}

.figure-caption {
    color: rgb(255 255 255 / 75%);
}

footer {
  background-color: #3B6CDE;
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: auto;
  padding-bottom: 0.59rem;
}


.dropdown-item:focus, .dropdown-item:hover {
    --bs-dropdown-link-hover-color: #E6EDF3;
    --bs-dropdown-link-hover-bg: #48C4F8;
}


.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: #3B6CDE;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: rgb(255 255 255 / 57%);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}
